extends ../layout
block content
	h1
		if title
			+property(title)
		else
			Unknown performance

	if comment
		p
			+property(comment)

	if members
		h2 Members (past and present):
		ul
			each member in members
				li
					a(href="../../musician/" + member._id)
						+property(member)

	if seeAlso
		h2 External links:
		ul#seealso
			each also in seeAlso
				li
					div.iframe-wrap
						iframe(src=also.v,seamless="seamless",scrolling="no",style="width:1010px;height:685px;transform: scale(0.2);")
						a(href=also.v) #{also.name}
						+property(also)

	if images
		h2 Media:
		#media
			each image in images
				a(href=image)
					img(src=image, width="200px")


	| <!--
	table
		each value, name in place
			tr
				td
					strong= name
				td= value
	| -->