extends ../layout

block content
	h1
		if title
			+property(title)
		else
			Unknown performance

	p= "Starts on "
		time(datetime=startISO)
			+property(startString)

	p= "Located at "
		a(href="place/" + location_id)
			+property(location)

	p= "Featuring "
		ul
			each ens in ensembled
				li
					a(href="ensemble/" + ens._id)
						+property(ens)


	table
		each value, name in performance
			tr
				td
					strong= name
				td= value