extends ../layout

block content
	div#home

		div#title
			div.sticker Upcoming!
			h1
				if title
					+property(title)
				else
					Unknown performance

			#clockdiv
				div
					span.days
					div.smalltext Days
				div
					span.hours
					div.smalltext Hours
				div
					span.minutes
					div.smalltext Minutes
				div
					span.seconds
					div.smalltext Seconds

		div#data
			p.start
				time(datetime=startISO)
					+property(startString)

			p= "@ "
				a(href="place/" + location_id)
					+property(location)

			div.featuring
				p= "Featuring"
				ul
					each ens in ensembled
						li
							a(href="ensemble/" + ens._id)
								+property(ens)

			| <!--
			table
				each value, name in performance
					tr
						td
							strong= name
						td= value
			| -->

	script(src="/javascript/countdown.js")
	script.
		initializeClock('clockdiv', new Date("#{startISO}"));